<div class="container">
  <div class="span12 text-center bg">
    <h2><%= @app.name %> | <%= @app.url %> | <%= link_to "Unregister Application", @app, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to unregister this application?' } %></h2>
